<!-- Navbar begin //-->
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4 shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto nav-pills">
        <li class="nav-item">
            <a href="/log" class="nav-link">
            <i class="fas fa-list-alt"></i> 型號列表
            </a>
        </li>            
        <li class="nav-item">
            <a href="/log/person" class="nav-link">
            <i class="fas fa-list-alt"></i> 借用人列表
            </a>
        </li>
        <li class="nav-item">
            <a href="/log/createperson" class="nav-link">
            <i class="fas fa-edit"></i> 新增人員
            </a>
        </li>            
        <li class="nav-item">
            <a href="/log/createtype" class="nav-link">
            <i class="fas fa-edit"></i> 新增型號
            </a>
        </li>
        <li class="nav-item">
            <a href="/log/createitem" class="nav-link">
            <i class="fas fa-edit"></i> 新增設備
            </a>
        </li>            
        <li class="nav-item">
            <a href="/log/createborrow" class="nav-link">
            <i class="fas fa-edit"></i> 新增借用紀錄
            </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar end //-->