{% extends "base.html" %}
{% block content %}
<div class="card">
  <p>借用人：{{ logperson.subject }}</p>
  <p>身分：{{ logperson.get_status_display }}</p>
  <p>國高中部：{{ logperson.get_department_display }}</p>
  <p>職稱/科目：{{ logperson.title }}</p>
  <p>連絡電話：{{ logperson.phone }}</p>
  <p>電子信箱：{{ logperson.mail }}</p>
  <p>在職狀況：{{ logperson.get_isatwork_display }}</p>
</div>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>設備編號</th>
      <th>借用人編號</th>
      <th>借出日期</th>
      <th>歸還日期</th>
    </tr>
  </thead>
  <a href="/log/createborrow">新增借用紀錄</a>
  <tbody>
    {% for item in logperson.logborrow_set.all %}
    <tr>
      <td>
        <a href="/log/item/{{ item.borrowsl.id }}">{{ item.borrowsl }}</a>
      </td>
      <td>{{ item.borrowps }}</a></td>
      <td>{{ item.borrowdt }}</td>
      <td>{{ item.backdt }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}