{% extends "base.html" %}
{% block content %}
<div class="card">
  <p>型號：{{ logtype.type }} | 
    <a href="/log/{{ logtype.id }}/update">編輯</a> | 
    <a href="/log/{{ logtype.id }}/delete">刪除</a>
  </p>
  <p>購買時間：{{ logtype.buydate }}</p>
  <p>詳細規格：</p>
  <div class="disc">
    <p>{{ logtype.detail|linebreaks }}</p>
  </div>
</div>
<table class="table table-sm table-hover">
  <thead>
    <tr class="text-center">
      <th>設備編號</th>
      <th>型號</th>
      <th>財產編號</th>
      <th>備註</th>
      <th>狀態</th>
      <th>動作</th>
      <th>刪除</th>
    </tr>
  </thead>
  <a href="/log/createitemsl/{{ logtype.id }}">新增設備</a>
  <tbody>
    {% for item in logtype.logitems_set.all %}
    <tr>
      <td class="text-center">
        <a href="/log/item/{{ item.id }}">{{ item.serial }}</a>
      </td>
      <td class="text-center">{{ item.itemtype }}</td>
      <td class="text-center">{{ item.tenure }}</td>
      <td>{{ item.remark }}</td>
      <td class="text-center">{{ item.get_eqpst_display }}</td>
      <td class="text-center"><a href="/log/item/{{ item.id }}/update">編輯</a></td>
      <td class="text-center"><a href="/log/item/{{ item.id }}/delete">刪除</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}