{% extends "base.html" %}
{% block content %}
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>型號</th>
      <th>詳細規格</th>
      <th>購買時間</th>
      <th>動作</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
    {% for item in logtype_list %}
    <tr>
      <td>
        <a href="{{ item.id }}">{{ item.type }}</a>
      </td>
      <td>{{ item.detail|linebreaks}}</td>
      <td>{{ item.buydate }}</td>
      <td><a href="/log/{{ item.id }}/update">編輯</a></td>
      <td><a href="/log/{{ item.id }}/delete">刪除</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}